body {
    color: #76838f;
    background-color: #f1f1f1;
}

a {
    color: #46be8a;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #37474f;
}

h1,h2,h3,h4,h5,h6 {
    text-shadow: rgba(0, 0, 0, .15) 0 0 1px;
}

.page {
    background: #f1f4f5;
}

.text-xs-center {
    text-align: center !important;
}

.page-dark.layout-full {
    color: #fff;
}

.page-dark.layout-full .brand-text {
    color: #fff;
}

.form-control {
    color: #76838f;
    background-color: #fff;
    border: 1px solid #e4eaec;
}

.form-control {
    border-color: #e4eaec;
}

.pull-xs-left {
    float: left !important;
}

.pull-xs-right {
    float: right !important;
}

.navbar-default {
    background-color: #fff;
    border-color: #e4eaec;
}

.navbar-inverse {
    background-color: #46be8a;
    border-color: rgba(0, 0, 0, .1);
}

.input-group-addon {
    font-weight: 300;
    color: #76838f;
    background-color: #f3f7f9;
    border: 1px solid #e4eaec;
}

.navbar-default .navbar-toolbar .nav-link {
    display: block;
    color: #76838f;
}

.navbar-inverse .navbar-toolbar .nav-link {
    color: #fff;
}

.navbar-inverse .navbar-toolbar .nav-link:hover, .navbar-inverse .navbar-toolbar .nav-link:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}

.bg-white {
    color: #76838f;
    background-color: #fff;
}

.img-bordered {
    padding: 3px;
    border: 1px solid #e4eaec;
}

.bg-blue-grey-700 {
    background-color: #37474f !important;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #fff; 
}

.navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-toolbar .nav-link.active
.navbar-inverse .navbar-nav > .open > .nav-link, .navbar-inverse .navbar-nav > .open > .nav-link:hover {
    color: #fff; 
    background-color: rgba(0, 0, 0, .1);
}

.panel-dark .panel-heading {
    color: #fff;
    background-color: #526069;
}

.panel-dark .panel-title {
    color: #fff;
}
