@import url("layout.css");
@import url("site.css");
@import url("base.css");
@import url("color.css");

/*login*/

.page-login:before {
    background-image: url("../uploads/page/login.jpg");
}

.page-login form {
    width: 340px;
    margin: 30px auto;
}

.page-login form a {
    margin-left: 20px;
}

.page-login .has-error .help-block {
    color: red;
}

@media (max-width: 767px) {
    .page-login form {
        width: auto;
    }
}

/*end login*/

/*home*/
.hidden {
    display: none;
}

.help-block strong {
    color: red;
}

.profile {
    margin-bottom: 0;
}

.userName {
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.popover {
    max-width: 100%;
}

.memorised, .memorised:hover {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

.input-word-group .form-control{
    width:50% !important;
}

.form-control {
    height: 2.573rem !important;
}

ul.pagination {
    text-align: center;
    width: 100%;
}

ul.pagination > li {
    display: inline;
}

ul.pagination > li > a:hover {
    color: #89bceb;
    border-color: #e4eaec;
    background-color: #f3f7f9;
}

ul.pagination > li.active > span {
    z-index: 2;
    cursor: default;
    color: #fff;
    border-color: #62a8ea;
    background-color: #62a8ea;
}

ul.pagination > li > a, ul.pagination > li > span {
    text-decoration: none;
    color: #76838f;
    border: 1px solid #e4eaec;
    background-color: transparent;
    padding: 10px 15px;
}

ul.pagination > li.active > span, .disabled {
    cursor: not-allowed;
}

.dataTables_filter input {
    padding: .5rem .75rem;
    margin: .5rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
